{% extends "layouts/base.html" %}
{% set project = "Home pg" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Home Page (Recipes)</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/python.jpeg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h4 class="card-title">Chocolate Cake</h4>
                    <p class="card-text">
                        <h6>Prep time: 20 min.</h6>
                        <h6>Bake time: 20-25 min.</h6>
                        <h6>Serving Size: 16</h6>
                        <p>&nbsp;</p>
                        <h5>Recipe: </h5>
                        <ul>
                            <li>3/4 cup butter, softened</li>
                            <li>2 cups sugar</li>
                            <li>3 large eggs, room temperature</li>
                            <li> 2 teaspoons vanilla extract</li>
                            <li>2 cups all-purpose flour</li>
                            <li>3/4 cup cocoa powder</li>
                            <li>1 teaspoon baking soda</li>
                            <li>1/2 teaspoon salt</li>
                            <li>1/4 teaspoon baking powder</li>
                            <li>1-1/2 cups 2% milk</li>
                        </ul>
                        <h5 class="card-title">Directions:</h5>
                        <ol>
                            <li>Preheat oven to 350°. Line three 9-in. round baking pans with waxed paper; grease and flour the pans and paper.</li>
                            <p>&nbsp;</p>
                            <li>In a large bowl, cream butter and sugar until light and fluffy, 5-7 minutes. Add eggs, 1 at a time, beating well after each addition. Beat in vanilla. Combine the flour, cocoa, baking soda, salt and baking powder; add to the creamed mixture alternately with milk, beating well after each addition.</li>
                            <p>&nbsp;</p>
                            <li>Transfer to prepared pans. Bake until a toothpick inserted in the center comes out clean, 20-25 minutes. Cool for 10 minutes before removing from pans to wire racks to cool completely.</li>
                            <p>&nbsp;</p>
                            <li> For frosting, in a small heavy saucepan, melt chips and butter over low heat. Transfer to a large bowl; cool for 5 minutes. Stir in sour cream. Gradually beat in confectioners' sugar until smooth. Spread between layers and over top and side of cake. If desired, top with chocolate curls.</li>
                            <p>&nbsp;</p>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flask.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Chocolate Brownies</h5>
                    <p class="card-text">
                        <h6>Prep time: 10 min.</h6>
                        <h6>Bake time: 30 min.</h6>
                        <h6>Serving Size: 18 large brownies</h6>
                        <ul>
                            <li>3/4 cup unsalted butter</li>
                            <li>one 4 ounce semi-sweet chocolate bar (coarsely chopped)</li>
                            <li>2 cups granulated sugar</li>
                            <li>3 large eggs (at room temp.)</li>
                            <li>2 teaspoons pure vanilla extract</li>
                            <li>1 cup unsweetened natural cocoa powder</li>
                            <li>1 cup all-purpose flour</li>
                            <li>1 teaspoon salt</li>
                            <li><strong>optional:</strong> 1 and 1/4 cups semi-sweet chocolate chips</li>
                        </ul>
                         <h5 class="card-title">Directions:</h5>
                            <ol>
                                <li>Preheat the oven to 350°F (177°C) and grease a 9×13 inch pan or line with aluminum foil or parchment paper, leaving an overhang on the sides to lift the finished brownies out (makes cutting easier!). Set aside.</li>
                                <p>&nbsp;</p>
                                <li>In a microwave-safe bowl, combine the butter and 2 ounces of chopped chocolate. Melt in 30 second increments, whisking after each, until completely smooth. Whisk in the sugar until completely combined, then whisk in the eggs and vanilla. The batter will be light brown and a little dull looking.</li>
                                <p>&nbsp;</p>
                                <li>Add the cocoa powder, flour, salt, remaining 2 ounces of chopped chocolate and the chocolate chips. Fold it all together with a rubber spatula or wooden spoon. Batter will be very thick. Spread evenly into prepared pan.</li>
                                <p>&nbsp;</p>
                                <li>Bake for 30 minutes, then test the brownies with a toothpick. Insert it into the center of the pan. If it comes out with wet batter, the brownies are not done. If there are only a few moist crumbs, the brownies are done. Keep checking every 2 minutes until you have moist crumbs. My brownies take 31-32 minutes.</li>
                                <p>&nbsp;</p>
                                <li>Remove from the oven and place on a wire rack to cool completely in the pan before cutting into squares.</li>
                                <p>&nbsp;</p>
                                <li>Cover and store leftover brownies at room temperature for up to 1 week.</li>
                                <p>&nbsp;</p>
                            </ol>
                        </ul>

                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A Database is an example of persistent data that is held on a computer.  Programming languages and frameworks allow you to store and retrive data.</li>
                            <li>SQL stands for Structured Query Language · SQL lets you access and manipulate databases and has become a long lasting development standard.</li>
                            <li>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper (ORM) that gives application developers the full power and flexibility of SQL.</li>
                            <li>There are many newer and sometimes easier Database languages and frameworks.  Mongo, DynamoDB, Neo4J are Databases being used by students developers in last 3 years.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}