<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!--> This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!--> This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-body"><strong>About Me</strong></h1>
        <p class="text-body"><strong>Srihita</strong></p>
        
        <table> <tr><td>  <img src="https://imageconvert.org/uploads/IMG_274016636116301663731806.png" width="275" height="350"></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><p class="text-body"><strong>Hi! My name is Sri. I was born in Portland and moved to San Diego last year, so the weather is something to get used to. I try my best to explore new things, but most of the time, I like to stay home and watch something on my laptop (mostly when I don't have to worry about homework. One thing that I wish I could do is travel more. I think people who travel a lot don't like to travel, and people who don't travel enough love to travel. I fall into the catagory of not travelling enough. Especially with the pandemic I think that it is more important to start travelling now and get out there. That's pretty much it. I don't like to do much, especially alone. And I'll do anything with friends and family. One thing everyone knows about me is that I am a very (and I mean very) social person. I'll choose to be around people any where and any time.</strong></p></td></tr> </table>
        <style>
            body {
                background: rgb(220, 21, 137);
                color: rgb(234, 36, 36);
            }
            
        </style>
        <img src="https://imageconvert.org/uploads/5A45A17B-4679-49DC-9B23-305BE991693316636171731663731751.png" width="251" height="225">
        <img src="https://imageconvert.org/uploads/23943bf9-9246-46e1-8178-81a0a26bc4fb16636171771663731695.png" width="251" height="225">
        <img src="https://imageconvert.org/uploads/IMG_059716636171781663731438.png" width="176" height="225">
        <img src="https://imageconvert.org/uploads/IMG_219716636171791663731431.png" width="151" height="225">
        <img src="https://imageconvert.org/uploads/IMG_147316636171801663731433.png" width="234" height="225">
        <img src="https://imageconvert.org/uploads/6bba412b-a0ae-485c-b740-99c4c0c077c716636178031663731441.png" width="276" height="225">
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

