<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Srihita Kotturi</p>
        <img src="https://dragon.online-convert.com/download-file/80208905-b4bb-4cf2-bef9-f742807f6a73/d2c6d448-85af-4ace-8e67-7852d9b3e0c6" width="300" height="350">
        <style>
            body {
                background: rgb(83, 152, 231);
                color: rgb(234, 36, 36);
            }
            
        </style>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

<body>
    <div class="wrapper">
        <div class="testimonial">
            <article>
                <h1>About Me</h1>
                <img src="IMG_2740.JPG">
                <blockquote>
                    "Hi!"
                </blockquote>
            </article>
        <div>
    </div>
</body>