<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Srihita Kotturi</p>
        <img src="image/https://www.bing.com/images/search?view=detailV2&ccid=h3P%2fykSD&id=D3A7F54870FC3993B140E7C9757C9735F68C0475&thid=OIP.h3P_ykSDrQsIWjoXECol9QHaFs&mediaurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.8773ffca4483ad0b085a3a17102a25f5%3frik%3ddQSM9jWXfHXJ5w%26riu%3dhttp%253a%252f%252f1.bp.blogspot.com%252f-HtNB5JYp3cM%252fVgbi7kiUFSI%252fAAAAAAAACJU%252fSdJC_yZhA-k%252fs1600%252f1966-8%252bCrayola%252bCrayons003_edited_1.JPG%26ehk%3d6FV6xNHVj7pkpodGvQZCJ6FntS2wVIw%252flVPdweDMEoA%253d%26risl%3d%26pid%3dImgRaw%26r%3d0&exph=1231&expw=1600&q=crayons&simid=607988170670605656&FORM=IRPRST&ck=5A206CBACD8C8C17C41CEB70010782A7&selectedIndex=24&ajaxhist=0&ajaxserp=0">
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}

<body>
    <div class="wrapper">
        <div class="testimonial">
            <article>
                <h1>About Me</h1>
                <img src="IMG_2740.JPG">
                <blockquote>
                    "Hi!"
                </blockquote>
            </article>
        <div>
    </div>
</body>